.signup{
    padding: 1rem;
    /* padding-top: 0.5rem; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.signup_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.signup_logo > a > img{
    object-fit: contain;
    width: 6.85rem;
}

.signup_language {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1rem;
    transition:  all 0.2s;

}

.signup_language:hover{
    background-color: hsla(0, 0%, 50.2%, 0.125);
}

.signup_language > span {
    font-weight: 500;

}

.signup_info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    min-width: 20.2rem;
    margin-left: auto;
    margin-right: auto;
}

.signup_info > h1 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-left: -3.8rem;

}

.signup_form{
    display: flex;
    flex-direction: column;
}
.signup_form > label{
    color: #5c5e62;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 1.25rem;
}

.signup_form > input{
    margin-bottom: 1.9rem;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    outline: none;
    border-radius: 3.125rem;
    padding: 0.9rem 1.25rem;
    color: #393c41;
    font-weight: 600;
}

.signup_form > input:focus{
    border: 1px solid #d6d6d6;
    transition: all 0.2s;
}
 .signup_divider{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
 }

 .signup_divider > hr{
    width: 40%;
    height: 0;
    opacity: 0.5;
   
 }

 .signup_divider > span {
    font-weight: 500;
    color: #5c5e62;
 }

 


